# Preliminary Steps

In [ ]:
import os
import pandas as pd
import numpy as np

The following steps will be for you to access datasets from Kaggle. If you haven't already, make sure you have created an API key on Kaggle and uploaded it to your Google Drive (steps on the slides!)

View available datasets to download with keyword "starbucks"

In [2]:
!kaggle datasets list -s starbucks

ref                                                      title                                               size  lastUpdated          downloadCount  voteCount  usabilityRating
-------------------------------------------------------  -------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
henryshan/starbucks                                      Starbucks                                            5KB  2023-12-06 03:07:49          13533        200  1.0
starbucks/starbucks-menu                                 Nutrition facts for Starbucks Menu                   9KB  2017-07-20 21:49:50          23682        194  0.85294116
starbucks/store-locations                                Starbucks Locations Worldwide                        1MB  2017-02-13 23:05:16          77182        580  0.5882353
mahirahmzh/starbucks-customer-retention-malaysia-survey  Starbucks Customer Survey                            5KB  2020-05-16 15:44:54          21631        214  0.9117647
ihormuliar/starbucks-customer-data                       Starbucks Customer Data                              7MB  2021-03-31 08:14:17          10728         93  1.0
harshalhonde/starbucks-reviews-dataset                   Starbucks Reviews Dataset                          170KB  2023-09-15 08:21:59           6784         85  1.0
utkarshx27/starbucks-nutrition                           Starbucks Nutrition Facts                            2KB  2023-05-10 05:42:59           3396         68  1.0
syedasimalishah/starbucks-drinks                         Starbucks Drinks                                     5KB  2022-10-24 05:40:11           2673         37  0.8235294
mayankanand2701/starbucks-stock-price-dataset            Starbucks Stock Price Dataset üìäüçµüßãüî•                 157KB  2024-05-24 04:11:21           1352         35  1.0
henryshan/starbucks-stock-price                          Starbucks Stock Price                              155KB  2023-12-06 11:39:28           1018         36  1.0
kmkarakaya/logos-bk-kfc-mcdonald-starbucks-subway-none   Logos: BK KFC McDonald Starbucks Subway None        65MB  2019-01-17 13:29:58           2271        178  0.75
blacktile/starbucks-app-customer-reward-program-data     Starbucks app customer rewards program data          7MB  2020-06-03 09:12:13           3159         48  1.0
zeeshanyounas001/starbucks-corporation                   Starbucks Corporation                               33KB  2024-05-11 18:32:54            129         40  0.8235294
kalilurrahman/starbucks-stock-data-live-and-latest       Starbucks Stock Data - Live and Latest             269KB  2025-02-10 22:38:13           2078         67  1.0
brandonconrady/starbucks-union-election-results          Starbucks Union Election Results                    16KB  2024-02-25 20:51:59            332         25  1.0
kukuroo3/starbucks-locations-worldwide-2021-version      Starbucks Locations Worldwide 2021 version           2MB  2022-01-03 07:21:06           4350        111  0.88235295
kanchana1990/starbucks-nyc-1000-reviews                  Starbucks NYC: 1000+ Reviews ‚òï                     159KB  2024-01-30 17:25:20            652         66  1.0
yukawithdata/starbucks-environment                       Starbucks Global Environmental Impact Report FY22    2KB  2023-08-07 00:38:17            443         10  1.0
mathurinache/moststarbucksstores                         Most Starbucks Stores                                2KB  2020-09-06 14:51:51            210          4  0.64705884
saneryee/starbucks-stores-in-china-mainland              Starbucks stores in China Mainland                 211KB  2019-12-31 07:01:13            556         14  0.47058824

The cell below assumes you have uploaded your kaggle.json file to your ~/.kaggle directory.

In [3]:
!kaggle datasets download starbucks/starbucks-menu

Dataset URL: https://www.kaggle.com/datasets/starbucks/starbucks-menu
License(s): other
starbucks-menu.zip: Skipping, found more recently modified local copy (use --force to force download)

If everything went well, you should see a dataframe after running the next cell! We'll be using the newly uploaded datasets for demonstration purposes in this notebook.

In [5]:
DATA_PATH = os.path.join(os.getcwd(), "starbucks-menu-nutrition-drinks.csv")
pd.read_csv(DATA_PATH)

,Unnamed: 0,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
0,Cool Lime Starbucks Refreshers‚Ñ¢ Beverage,45,0,11,0,0,10
1,Ombr√© Pink Drink,-,-,-,-,-,-
2,Pink Drink,-,-,-,-,-,-
3,Strawberry Acai Starbucks Refreshers‚Ñ¢ Beverage,80,0,18,1,0,10
4,Very Berry Hibiscus Starbucks Refreshers‚Ñ¢ Beve...,60,0,14,1,0,10
...,...,...,...,...,...,...,...
172,Chocolate Smoothie,320,5,53,8,20,170
173,Strawberry Smoothie,300,2,60,7,16,130
174,Ginger Ale,-,-,-,-,-,-
175,Lemon Ale,-,-,-,-,-,-
176,Orange Cream Soda,-,-,-,-,-,-

# DataFrame Indexing - loc, iloc, and []

First, let's assign our dataset to a variable.

In [6]:
DATA_PATH = os.path.join(os.getcwd(), "starbucks-menu-nutrition-drinks.csv")
starbucksdrinks = pd.read_csv(DATA_PATH)
starbucksdrinks

,Unnamed: 0,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
0,Cool Lime Starbucks Refreshers‚Ñ¢ Beverage,45,0,11,0,0,10
1,Ombr√© Pink Drink,-,-,-,-,-,-
2,Pink Drink,-,-,-,-,-,-
3,Strawberry Acai Starbucks Refreshers‚Ñ¢ Beverage,80,0,18,1,0,10
4,Very Berry Hibiscus Starbucks Refreshers‚Ñ¢ Beve...,60,0,14,1,0,10
...,...,...,...,...,...,...,...
172,Chocolate Smoothie,320,5,53,8,20,170
173,Strawberry Smoothie,300,2,60,7,16,130
174,Ginger Ale,-,-,-,-,-,-
175,Lemon Ale,-,-,-,-,-,-
176,Orange Cream Soda,-,-,-,-,-,-

The *Unnamed: 0* column probably isn't a good column name, so let's change that.

In [7]:
starbucksdrinks = starbucksdrinks.rename(columns={"Unnamed: 0": "Drink"})
starbucksdrinks

,Drink,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
0,Cool Lime Starbucks Refreshers‚Ñ¢ Beverage,45,0,11,0,0,10
1,Ombr√© Pink Drink,-,-,-,-,-,-
2,Pink Drink,-,-,-,-,-,-
3,Strawberry Acai Starbucks Refreshers‚Ñ¢ Beverage,80,0,18,1,0,10
4,Very Berry Hibiscus Starbucks Refreshers‚Ñ¢ Beve...,60,0,14,1,0,10
...,...,...,...,...,...,...,...
172,Chocolate Smoothie,320,5,53,8,20,170
173,Strawberry Smoothie,300,2,60,7,16,130
174,Ginger Ale,-,-,-,-,-,-
175,Lemon Ale,-,-,-,-,-,-
176,Orange Cream Soda,-,-,-,-,-,-

Let's see some details of this DataFrame.

In [8]:
starbucksdrinks.index

RangeIndex(start=0, stop=177, step=1)

In [9]:
starbucksdrinks.columns

Index(['Drink', 'Calories', 'Fat (g)', 'Carb. (g)', 'Fiber (g)', 'Protein',
       'Sodium'],
      dtype='object')

In [10]:
starbucksdrinks.size

1239

In [11]:
starbucksdrinks.shape

(177, 7)

In [12]:
starbucksdrinks.describe()

,Drink,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
count,177,177,177,177,177,177,177
unique,154,30,15,34,8,17,25
top,Tazo¬Æ Bottled Organic Iced Black Tea,-,-,-,-,-,-
freq,2,85,85,85,85,85,85

Why does the describe function look so weird? We'll revisit this later in the notebook.

### Let's start with the [loc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html) method of indexing this DataFrame.

 Let's get the first 5 rows of the DataFrame.

In [13]:
starbucksdrinks.loc[0:4]

,Drink,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
0,Cool Lime Starbucks Refreshers‚Ñ¢ Beverage,45,0,11,0,0,10
1,Ombr√© Pink Drink,-,-,-,-,-,-
2,Pink Drink,-,-,-,-,-,-
3,Strawberry Acai Starbucks Refreshers‚Ñ¢ Beverage,80,0,18,1,0,10
4,Very Berry Hibiscus Starbucks Refreshers‚Ñ¢ Beve...,60,0,14,1,0,10

You can also do this using the .head() command

In [14]:
starbucksdrinks.head()

,Drink,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
0,Cool Lime Starbucks Refreshers‚Ñ¢ Beverage,45,0,11,0,0,10
1,Ombr√© Pink Drink,-,-,-,-,-,-
2,Pink Drink,-,-,-,-,-,-
3,Strawberry Acai Starbucks Refreshers‚Ñ¢ Beverage,80,0,18,1,0,10
4,Very Berry Hibiscus Starbucks Refreshers‚Ñ¢ Beve...,60,0,14,1,0,10

Let's get specific rows and columns now.

In [15]:
starbucksdrinks.loc[[2, 83, 172], ["Drink", "Fat (g)", "Carb. (g)"]]

                          Drink Fat (g) Carb. (g)
2                    Pink Drink       -         -
83   Tazo¬Æ Bottled Lemon Ginger       0        31
172          Chocolate Smoothie       5        53

How about a certain column, but all the rows?

In [16]:
starbucksdrinks.loc[:, ["Drink"]]

                                                 Drink
0             Cool Lime Starbucks Refreshers‚Ñ¢ Beverage
1                                     Ombr√© Pink Drink
2                                           Pink Drink
3       Strawberry Acai Starbucks Refreshers‚Ñ¢ Beverage
4    Very Berry Hibiscus Starbucks Refreshers‚Ñ¢ Beve...
..                                                 ...
172                                 Chocolate Smoothie
173                                Strawberry Smoothie
174                                         Ginger Ale
175                                          Lemon Ale
176                                  Orange Cream Soda

[177 rows x 1 columns]

Note that without putting the column argument in brackets with only one argument, a Series is returned. If you want a DataFrame, put the argument in brackets!

Finally, let's try getting a range of rows and columns.

In [17]:
starbucksdrinks.loc[40:50, "Drink":"Fat (g)"]

                                                Drink Calories Fat (g)
40               Iced Espresso Classics - Caffe Mocha      140     2.5
41         Iced Espresso Classics - Caramel Macchiato      130     2.5
42  Iced Espresso Classics - Skinny Caramel Macchiato        -       -
43      Iced Espresso Classics - Skinny Vanilla Latte        -       -
44          Starbucks Doubleshot¬Æ Energy Coffee Drink        -       -
45         Starbucks Doubleshot¬Æ Energy Mexican Mocha        -       -
46           Starbucks Doubleshot¬Æ Energy Mocha Drink        -       -
47         Starbucks Doubleshot¬Æ Energy Vanilla Drink        -       -
48  Starbucks Doubleshot¬Æ Energy White Chocolate D...        -       -
49  Starbucks Doubleshot¬Æ Energy+Cinnamon Dolce Drink        -       -
50              Starbucks Doubleshot¬Æ Espresso Cubano        -       -

In [18]:
starbucksdrinks.tail(5)

                   Drink Calories Fat (g) Carb. (g) Fiber (g) Protein Sodium
172   Chocolate Smoothie      320       5        53         8      20    170
173  Strawberry Smoothie      300       2        60         7      16    130
174           Ginger Ale        -       -         -         -       -      -
175            Lemon Ale        -       -         -         -       -      -
176    Orange Cream Soda        -       -         -         -       -      -

**Now you try!** In the cell below, get rows 63-80 and the columns Drink, Protein, and Sodium using the loc method.

In [19]:
# TODO
starbucksdrinks.loc[63:80,['Drink','Protein','Sodium']]

                                                Drink Protein Sodium
63  Starbucks¬Æ Bottled Mocha Light Frappuccino¬Æ Co...       -      -
64  Starbucks¬Æ Bottled S'mores Frappuccino¬Æ Coffee...       -      -
65  Starbucks¬Æ Bottled Vanilla Frappuccino¬Æ Coffee...       -      -
66  Starbucks¬Æ Bottled Vanilla Light Frappuccino¬Æ ...       -      -
67                     Starbucks¬Æ Caramel Iced Coffee       -      -
68       Starbucks¬Æ Doubleshot Protein Dark Chocolate      20    115
69              Starbucks¬Æ Doubleshot Protein Vanilla      20    120
70                      Starbucks¬Æ Iced Coffee + Milk       -      -
71                     Starbucks¬Æ Iced Coffee Caramel       1      0
72             Starbucks¬Æ Iced Coffee Light Sweetened       1      0
73                 Starbucks¬Æ Iced Coffee Unsweetened       1      0
74          Starbucks¬Æ Low Calorie Iced Coffee + Milk       -      -
75  Starbucks¬Æ Refreshers‚Ñ¢ - Black Cherry Limeade ...       -      -
76                     Starbucks¬Æ Vanilla Iced Coffee       -      -
77                  Tazo¬Æ Bottled Berry Blossom White       0     10
78                          Tazo¬Æ Bottled Black Mango       0     15
79                     Tazo¬Æ Bottled Black with Lemon       0     10
80                         Tazo¬Æ Bottled Brambleberry       0     15

### Moving onto iloc...

Let's get the last 5 rows. Note that unlike loc, [iloc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html) is exclusive of the ending number.

In [20]:
starbucksdrinks.iloc[172:177]

                   Drink Calories Fat (g) Carb. (g) Fiber (g) Protein Sodium
172   Chocolate Smoothie      320       5        53         8      20    170
173  Strawberry Smoothie      300       2        60         7      16    130
174           Ginger Ale        -       -         -         -       -      -
175            Lemon Ale        -       -         -         -       -      -
176    Orange Cream Soda        -       -         -         -       -      -

You can do the same thing with the .tail() function.

In [21]:
starbucksdrinks.tail()

                   Drink Calories Fat (g) Carb. (g) Fiber (g) Protein Sodium
172   Chocolate Smoothie      320       5        53         8      20    170
173  Strawberry Smoothie      300       2        60         7      16    130
174           Ginger Ale        -       -         -         -       -      -
175            Lemon Ale        -       -         -         -       -      -
176    Orange Cream Soda        -       -         -         -       -      -

Specific columns and rows?

In [22]:
starbucksdrinks.iloc[[5, 10, 15], [0, 4]]

                            Drink Fiber (g)
5                    Violet Drink         -
10          Iced Coffee with Milk         -
15  Starbucks¬Æ Iced Coffee + Milk         -

One column and all rows (as a Series)?

In [23]:
starbucksdrinks.iloc[:, 0]

0               Cool Lime Starbucks Refreshers‚Ñ¢ Beverage
1                                       Ombr√© Pink Drink
2                                             Pink Drink
3         Strawberry Acai Starbucks Refreshers‚Ñ¢ Beverage
4      Very Berry Hibiscus Starbucks Refreshers‚Ñ¢ Beve...
                             ...
172                                   Chocolate Smoothie
173                                  Strawberry Smoothie
174                                           Ginger Ale
175                                            Lemon Ale
176                                    Orange Cream Soda
Name: Drink, Length: 177, dtype: object

**Try getting rows 42-92 and 3 columns of your choice using .iloc!**

In [24]:
# TODO
starbucksdrinks.iloc[42:92, 0:3]

                                                Drink Calories Fat (g)
42  Iced Espresso Classics - Skinny Caramel Macchiato        -       -
43      Iced Espresso Classics - Skinny Vanilla Latte        -       -
44          Starbucks Doubleshot¬Æ Energy Coffee Drink        -       -
45         Starbucks Doubleshot¬Æ Energy Mexican Mocha        -       -
46           Starbucks Doubleshot¬Æ Energy Mocha Drink        -       -
47         Starbucks Doubleshot¬Æ Energy Vanilla Drink        -       -
48  Starbucks Doubleshot¬Æ Energy White Chocolate D...        -       -
49  Starbucks Doubleshot¬Æ Energy+Cinnamon Dolce Drink        -       -
50              Starbucks Doubleshot¬Æ Espresso Cubano        -       -
51               Starbucks Doubleshot¬Æ Espresso Drink        -       -
52  Starbucks Doubleshot¬Æ Espresso Salted Caramel ...        -       -
53         Starbucks Doubleshot¬Æ Light Espresso Drink        -       -
54              Starbucks Doubleshot¬Æ Protein Caramel        -       -
55        Starbucks Refreshers‚Ñ¢ Raspberry Pomegranate       90       0
56          Starbucks Refreshers‚Ñ¢ Strawberry Lemonade       90       0
57  Starbucks¬Æ Bottled Caramel Frappuccino¬Æ Coffee...        -       -
58  Starbucks¬Æ Bottled Coffee Frappuccino¬Æ Coffee ...        -       -
59    Starbucks¬Æ Bottled Cold Brew Black, Unsweetened        -       -
60  Starbucks¬Æ Bottled Cold Brew Cocoa and Honey w...        -       -
61  Starbucks¬Æ Bottled Dulce de Leche Frappuccino¬Æ...        -       -
62  Starbucks¬Æ Bottled Mocha Frappuccino¬Æ Coffee D...        -       -
63  Starbucks¬Æ Bottled Mocha Light Frappuccino¬Æ Co...        -       -
64  Starbucks¬Æ Bottled S'mores Frappuccino¬Æ Coffee...        -       -
65  Starbucks¬Æ Bottled Vanilla Frappuccino¬Æ Coffee...        -       -
66  Starbucks¬Æ Bottled Vanilla Light Frappuccino¬Æ ...        -       -
67                     Starbucks¬Æ Caramel Iced Coffee        -       -
68       Starbucks¬Æ Doubleshot Protein Dark Chocolate      210     2.5
69              Starbucks¬Æ Doubleshot Protein Vanilla      200     2.5
70                      Starbucks¬Æ Iced Coffee + Milk        -       -
71                     Starbucks¬Æ Iced Coffee Caramel       60       0
72             Starbucks¬Æ Iced Coffee Light Sweetened       50       0
73                 Starbucks¬Æ Iced Coffee Unsweetened       10       0
74          Starbucks¬Æ Low Calorie Iced Coffee + Milk        -       -
75  Starbucks¬Æ Refreshers‚Ñ¢ - Black Cherry Limeade ...        -       -
76                     Starbucks¬Æ Vanilla Iced Coffee        -       -
77                  Tazo¬Æ Bottled Berry Blossom White       60       0
78                          Tazo¬Æ Bottled Black Mango      150       0
79                     Tazo¬Æ Bottled Black with Lemon      140       0
80                         Tazo¬Æ Bottled Brambleberry      140       0
81                          Tazo¬Æ Bottled Giant Peach      150       0
82                         Tazo¬Æ Bottled Iced Passion       70       0
83                         Tazo¬Æ Bottled Lemon Ginger      120       0
84               Tazo¬Æ Bottled Organic Black Lemonade      140       0
85               Tazo¬Æ Bottled Organic Iced Black Tea       60       0
86               Tazo¬Æ Bottled Organic Iced Green Tea      120       0
87                     Tazo¬Æ Bottled Plum Pomegranate      140       0
88                            Tazo¬Æ Bottled Tazoberry      150       0
89                      Tazo¬Æ Bottled White Cranberry      140       0
90                           Teavana¬Æ Mango Black Tea        -       -
91                 Teavana¬Æ Passion Tango¬Æ Herbal Tea        -       -

### Finally, let's move on to brackets [] (my personal favorite)

First 5 rows?

In [25]:
starbucksdrinks[0:5]

,Drink,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
0,Cool Lime Starbucks Refreshers‚Ñ¢ Beverage,45,0,11,0,0,10
1,Ombr√© Pink Drink,-,-,-,-,-,-
2,Pink Drink,-,-,-,-,-,-
3,Strawberry Acai Starbucks Refreshers‚Ñ¢ Beverage,80,0,18,1,0,10
4,Very Berry Hibiscus Starbucks Refreshers‚Ñ¢ Beve...,60,0,14,1,0,10

Specific columns and last 7 rows?

In [26]:
starbucksdrinks[["Drink", "Fat (g)"]].tail(7)

                   Drink Fat (g)
170  Steamed Apple Juice       -
171        Vanilla Cr√®me       6
172   Chocolate Smoothie       5
173  Strawberry Smoothie       2
174           Ginger Ale       -
175            Lemon Ale       -
176    Orange Cream Soda       -

One column?

In [27]:
starbucksdrinks['Protein']

0       0
1       -
2       -
3       0
4       0
       ..
172    20
173    16
174     -
175     -
176     -
Name: Protein, Length: 177, dtype: object

Without the bracket around the column variable, a Series is returned instead of a DataFrame.

In [28]:
starbucksdrinks[['Protein']]

    Protein
0         0
1         -
2         -
3         0
4         0
..      ...
172      20
173      16
174       -
175       -
176       -

[177 rows x 1 columns]

# Boolean Arrays

In data science, we're going to need to filter for certain traits in our data. To accomplish this, we need to use boolean arrays, which simply label rows with True/False depending on the conditions.

In [29]:
starbucksdrinks[starbucksdrinks["Protein"].astype(int) > 10]

ValueError: invalid literal for int() with base 10: '-'

But first, why did this filtering not work? Let's check the datatypes of all the columns in the DataFrame to find out.

In [37]:
starbucksdrinks.dtypes

Drink        object
Calories     object
Fat (g)      object
Carb. (g)    object
Fiber (g)    object
Protein      object
Sodium       object
dtype: object

As you can see, every columns has values that are objects, which means they are all strings (it would be the difference between 1 and "1".) We can't compare strings, so we have to convert their datatypes back to numbers first.

In [30]:
starbucksdrinks['Protein'] = pd.to_numeric(starbucksdrinks['Protein'], errors = 'coerce')
## Since we know from earlier glances at the DataFrame that columns have numbers as string types or
## "-" as string type, we have to account for both of these things. pd.to_numeric changes strings of
## numbers to int/float values, and the argument errors = 'coerce' changes any other value to a NaN value
## which allows us to change a column to what we need for analysis.

In [31]:
starbucksdrinks

,Drink,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
0,Cool Lime Starbucks Refreshers‚Ñ¢ Beverage,45,0,11,0,0.0,10
1,Ombr√© Pink Drink,-,-,-,-,NaN,-
2,Pink Drink,-,-,-,-,NaN,-
3,Strawberry Acai Starbucks Refreshers‚Ñ¢ Beverage,80,0,18,1,0.0,10
4,Very Berry Hibiscus Starbucks Refreshers‚Ñ¢ Beve...,60,0,14,1,0.0,10
...,...,...,...,...,...,...,...
172,Chocolate Smoothie,320,5,53,8,20.0,170
173,Strawberry Smoothie,300,2,60,7,16.0,130
174,Ginger Ale,-,-,-,-,NaN,-
175,Lemon Ale,-,-,-,-,NaN,-
176,Orange Cream Soda,-,-,-,-,NaN,-

Let's try the filtering again.

In [32]:
# get drinks with protein more than 10 and less than 15
starbucksdrinks[(starbucksdrinks["Protein"] > 10) & (starbucksdrinks["Protein"] < 15)]

,Drink,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
109,Hot Chocolate,320,9,47,4,14.0,160
110,Starbucks¬Æ Signature Hot Chocolate,430,26,45,5,12.0,115
112,Caff√® Latte,190,7,19,0,13.0,170
113,Caff√® Mocha,290,8,42,4,13.0,140
117,Cinnamon Dolce Latte,260,6,40,0,11.0,150
118,Coconutmilk Mocha Macchiato,250,9,32,0,12.0,180
122,Flat White,180,7,18,0,12.0,160
129,Iced Coconutmilk Mocha Macchiato,260,9,34,0,11.0,180
134,Latte Macchiato,190,7,19,0,12.0,160
135,Latte Macchiato,190,7,19,0,12.0,160
138,Vanilla Latte,250,6,37,0,12.0,150
139,White Chocolate Mocha,360,11,53,0,14.0,240

Sick. We can do the same with the .loc method too.

In [33]:
starbucksdrinks.loc[starbucksdrinks["Protein"] < 10]

,Drink,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
0,Cool Lime Starbucks Refreshers‚Ñ¢ Beverage,45,0,11,0,0.0,10
3,Strawberry Acai Starbucks Refreshers‚Ñ¢ Beverage,80,0,18,1,0.0,10
4,Very Berry Hibiscus Starbucks Refreshers‚Ñ¢ Beve...,60,0,14,1,0.0,10
8,Evolution Fresh‚Ñ¢ Organic Ginger Limeade,110,0,28,0,0.0,5
9,Iced Coffee,0,0,0,0,0.0,0
...,...,...,...,...,...,...,...
132,Iced Vanilla Latte,190,4,30,0,7.0,100
137,Starbucks Doubleshot¬Æ on Ice Beverage,45,1,5,0,3.0,40
150,Coffee Light Frappuccino¬Æ Blended Coffee,110,0,24,0,3.0,200
158,Mocha Frappuccino¬Æ Blended Coffee,280,2.5,60,2,4.0,220
159,Mocha Light Frappuccino¬Æ Blended Coffee,140,0.5,28,1,4.0,180

Keep in mind that NaN values are not numbers, so they are not included in the filtering. To include those rows, we'd have to change them to 0.

**If we have time, you guys try!** Filter for drinks that are greater than 100 calories but less than 200.

In [36]:
# TODO
starbucksdrinks['Calories'] = pd.to_numeric(starbucksdrinks['Calories'], errors = 'coerce')
starbucksdrinks.loc[(starbucksdrinks["Calories"]>100) & (starbucksdrinks["Calories"]<200)]

,Drink,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
8,Evolution Fresh‚Ñ¢ Organic Ginger Limeade,110.0,0,28,0,0.0,5
11,Iced Espresso Classics - Vanilla Latte,130.0,2.5,21,0,5.0,65
12,Iced Espresso Classics - Caffe Mocha,140.0,2.5,23,0,5.0,90
13,Iced Espresso Classics - Caramel Macchiato,130.0,2.5,21,0,5.0,65
20,Tazo¬Æ Bottled Black Mango,150.0,0,38,0,0.0,15
21,Tazo¬Æ Bottled Black with Lemon,140.0,0,35,0,0.0,10
22,Tazo¬Æ Bottled Brambleberry,140.0,0,35,0,0.0,15
23,Tazo¬Æ Bottled Giant Peach,150.0,0,37,0,0.0,15
25,Tazo¬Æ Bottled Lemon Ginger,120.0,0,31,0,0.0,10
26,Tazo¬Æ Bottled Organic Black Lemonade,140.0,0,35,0,0.0,10
28,Tazo¬Æ Bottled Organic Iced Green Tea,120.0,0,31,0,0.0,10
29,Tazo¬Æ Bottled Plum Pomegranate,140.0,0,35,0,0.0,10
30,Tazo¬Æ Bottled Tazoberry,150.0,0,38,0,0.0,15
31,Tazo¬Æ Bottled White Cranberry,140.0,0,35,0,0.0,10
39,Iced Espresso Classics - Vanilla Latte,130.0,2.5,21,0,5.0,65
40,Iced Espresso Classics - Caffe Mocha,140.0,2.5,23,0,5.0,90
41,Iced Espresso Classics - Caramel Macchiato,130.0,2.5,21,0,5.0,65
78,Tazo¬Æ Bottled Black Mango,150.0,0,38,0,0.0,15
79,Tazo¬Æ Bottled Black with Lemon,140.0,0,35,0,0.0,10
80,Tazo¬Æ Bottled Brambleberry,140.0,0,35,0,0.0,15
81,Tazo¬Æ Bottled Giant Peach,150.0,0,37,0,0.0,15
83,Tazo¬Æ Bottled Lemon Ginger,120.0,0,31,0,0.0,10
84,Tazo¬Æ Bottled Organic Black Lemonade,140.0,0,35,0,0.0,10
86,Tazo¬Æ Bottled Organic Iced Green Tea,120.0,0,31,0,0.0,10
87,Tazo¬Æ Bottled Plum Pomegranate,140.0,0,35,0,0.0,10
88,Tazo¬Æ Bottled Tazoberry,150.0,0,38,0,0.0,15
89,Tazo¬Æ Bottled White Cranberry,140.0,0,35,0,0.0,10
108,Vanilla Sweet Cream Cold Brew,110.0,6,14,0,1.0,25
112,Caff√® Latte,190.0,7,19,0,13.0,170
114,Cappuccino,120.0,4,12,0,8.0,100
122,Flat White,180.0,7,18,0,12.0,160
124,Iced Caff√® Latte,130.0,4.5,13,0,8.0,115
132,Iced Vanilla Latte,190.0,4,30,0,7.0,100
134,Latte Macchiato,190.0,7,19,0,12.0,160
135,Latte Macchiato,190.0,7,19,0,12.0,160
150,Coffee Light Frappuccino¬Æ Blended Coffee,110.0,0,24,0,3.0,200
159,Mocha Light Frappuccino¬Æ Blended Coffee,140.0,0.5,28,1,4.0,180

# Utility Functions

Now that we have numeric column(s), the describe function should look more useful.

In [37]:
starbucksdrinks.describe()

         Calories    Protein
count   92.000000  92.000000
mean   135.163043   4.152174
std     93.853554   5.691588
min      0.000000   0.000000
25%     60.000000   0.000000
50%    130.000000   1.000000
75%    190.000000   8.250000
max    430.000000  20.000000

How many of each value do we have?

In [38]:
starbucksdrinks['Protein'].value_counts()

Protein
0.0     45
1.0     10
5.0      6
12.0     6
10.0     5
20.0     3
14.0     2
13.0     2
8.0      2
11.0     2
7.0      2
3.0      2
4.0      2
9.0      1
15.0     1
16.0     1
Name: count, dtype: int64

What unique values do we have?

In [39]:
starbucksdrinks['Protein'].unique()

array([ 0., nan,  5., 20.,  1., 14., 12., 13.,  8., 10., 11.,  9.,  7.,
        3., 15.,  4., 16.])

Let's sort the drinks from most to least protein.

In [40]:
starbucksdrinks.sort_values(by = 'Protein', ascending = False)

,Drink,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
172,Chocolate Smoothie,320.0,5,53,8,20.0,170
69,Starbucks¬Æ Doubleshot Protein Vanilla,200.0,2.5,34,2,20.0,120
68,Starbucks¬Æ Doubleshot Protein Dark Chocolate,210.0,2.5,33,2,20.0,115
173,Strawberry Smoothie,300.0,2,60,7,16.0,130
146,Cinnamon Dolce Frappuccino¬Æ Blended Coffee,350.0,4.5,64,0,15.0,0
...,...,...,...,...,...,...,...
169,Organic Chocolate Milk Box,NaN,-,-,-,NaN,-
170,Steamed Apple Juice,NaN,-,-,-,NaN,-
174,Ginger Ale,NaN,-,-,-,NaN,-
175,Lemon Ale,NaN,-,-,-,NaN,-
176,Orange Cream Soda,NaN,-,-,-,NaN,-

# Adding/Dropping Columns

Pretty self explanatory why this would be useful to know - data exploration, feature engineering, etc.

Let's create a column that tells us if a drink has a lot of protein.

In [44]:
starbucksdrinks['High Protein'] = np.where(starbucksdrinks['Protein'] > 10, True, False)
starbucksdrinks

,Drink,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium,High Protein
0,Cool Lime Starbucks Refreshers‚Ñ¢ Beverage,45.0,0,11,0,0.0,10,False
1,Ombr√© Pink Drink,NaN,-,-,-,NaN,-,False
2,Pink Drink,NaN,-,-,-,NaN,-,False
3,Strawberry Acai Starbucks Refreshers‚Ñ¢ Beverage,80.0,0,18,1,0.0,10,False
4,Very Berry Hibiscus Starbucks Refreshers‚Ñ¢ Beve...,60.0,0,14,1,0.0,10,False
...,...,...,...,...,...,...,...,...
172,Chocolate Smoothie,320.0,5,53,8,20.0,170,True
173,Strawberry Smoothie,300.0,2,60,7,16.0,130,True
174,Ginger Ale,NaN,-,-,-,NaN,-,False
175,Lemon Ale,NaN,-,-,-,NaN,-,False
176,Orange Cream Soda,NaN,-,-,-,NaN,-,False

Now let's [drop](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html) that column to get back to the original DataFrame.

In [45]:
starbucksdrinks = starbucksdrinks.drop('High Protein', axis = 'columns')
starbucksdrinks

,Drink,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
0,Cool Lime Starbucks Refreshers‚Ñ¢ Beverage,45.0,0,11,0,0.0,10
1,Ombr√© Pink Drink,NaN,-,-,-,NaN,-
2,Pink Drink,NaN,-,-,-,NaN,-
3,Strawberry Acai Starbucks Refreshers‚Ñ¢ Beverage,80.0,0,18,1,0.0,10
4,Very Berry Hibiscus Starbucks Refreshers‚Ñ¢ Beve...,60.0,0,14,1,0.0,10
...,...,...,...,...,...,...,...
172,Chocolate Smoothie,320.0,5,53,8,20.0,170
173,Strawberry Smoothie,300.0,2,60,7,16.0,130
174,Ginger Ale,NaN,-,-,-,NaN,-
175,Lemon Ale,NaN,-,-,-,NaN,-
176,Orange Cream Soda,NaN,-,-,-,NaN,-

# Groupby and Merging

The [groupby](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html) method would be pretty bad to demonstrate on the starbucksdrinks DataFrame, so I'll use the documented example to demonstrate.

In [46]:
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                              'Parrot', 'Parrot'],
                   'Max Speed': [380., 370., 24., 26.]})
df

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

Let's get the average speeds of the animals.

In [47]:
df.groupby('Animal').mean()

        Max Speed
Animal
Falcon      375.0
Parrot       25.0

How about the total max speeds?

In [48]:
df.groupby('Animal').sum()

        Max Speed
Animal
Falcon      750.0
Parrot       50.0

For [merge](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html), we'll also be taking the example from the pandas documentation.

In [49]:
df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})
df1

     a  b
0  foo  1
1  bar  2

In [50]:
df2

     a  c
0  foo  3
1  baz  4

An inner merge gets only the  rows in a column that have the same value.

In [51]:
df1.merge(df2, how='inner', on='a')

     a  b  c
0  foo  1  3

The default merge is an inner join, so do not need to specify the *how* attribute.

In [52]:
df1.merge(df2, on='a')

     a  b  c
0  foo  1  3

We inner merged on column 'a', and the only row that matches in both DataFrames is foo.

A left join returns all the rows of the first DataFrame named, along with the values that it may match with in the other DataFrame. A right join works the same but with the second DataFrame.

In [53]:
df1.merge(df2, how='left', on='a')

     a  b    c
0  foo  1  3.0
1  bar  2  NaN

We can see that since the value bar does not exist in df2, the value returned is NaN.

In [54]:
df1.merge(df2, how = 'right', on = 'a')

     a    b  c
0  foo  1.0  3
1  baz  NaN  4

Lastly, a cross join gets every combination of rows from both tables. Be careful when you use this, as it has potential to create very large, useless datasets!

In [55]:
df1.merge(df2, how='cross')

   a_x  b  a_y  c
0  foo  1  foo  3
1  foo  1  baz  4
2  bar  2  foo  3
3  bar  2  baz  4

And that's it for today! Thanks for coming!